<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsqlzz2lIb4k5iq72pv5hKz7e_Na2vjXY</string>
	<key>GCM_SENDER_ID</key>
	<string>852852570615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.endlessfall</string>
	<key>PROJECT_ID</key>
	<string>endlessfall-io</string>
	<key>STORAGE_BUCKET</key>
	<string>endlessfall-io.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852852570615:ios:6cd67149dfa30c13c756f2</string>
	<key>DATABASE_URL</key>
	<string>https://endlessfall-io-default-rtdb.firebaseio.com</string>
</dict>
</plist>