<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>25boins</key>
	<string>25boins</string>
	<key>55boins</key>
	<string>55boins</string>
	<key>125boins</key>
	<string>125boins</string>
	<key>350boins</key>
	<string>350boins</string>
	<key>800boins</key>
	<string>800boins</string>
	<key>35boinssubscription</key>
	<string>35boinssubscription</string>
	<key>75boinssubscription</key>
	<string>75boinssubscription</string>
	<key>200boinssubscription</key>
	<string>200boinssubscription</string>
	<key>500boinssubscription</key>
	<string>500boinssubscription</string>
	<key>1000boinssubscription</key>
	<string>1000boinssubscription</string>
</dict>
</plist>
