<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>25boins</key>
	<string>25boins</string>
	<key>55boins</key>
	<string>55boins</string>
	<key>125boins</key>
	<string>125boins</string>
	<key>350boins</key>
	<string>350boins</string>
	<key>800boins</key>
	<string>800boins</string>
	<key>1700boins</key>
	<string>1700boins</string>
	<key>3900boins</key>
	<string>3900boins</string>
	<key>9999boins</key>
	<string>9999boins</string>
	<key>infinitecoins</key>
	<string>infinitecoins</string>
	<key>25coins</key>
	<string>25coins</string>
	<key>55coins</key>
	<string>55coins</string>
	<key>125coins</key>
	<string>125coins</string>
	<key>350coins</key>
	<string>350coins</string>
	<key>800coins</key>
	<string>800coins</string>
	<key>1700coins</key>
	<string>1700coins</string>
	<key>3900coins</key>
	<string>3900coins</string>
	<key>9999coins</key>
	<string>9999coins</string>
	<key>russia</key>
	<string>io.endlessfall.russia</string>
	<key>belarus</key>
	<string>io.endlessfall.belarus</string>
	<key>poland</key>
	<string>io.endlessfall.poland</string>
	<key>ukraine</key>
	<string>io.endlessfall.ukraine</string>
	<key>finland</key>
	<string>io.endlessfall.finland</string>
	<key>sweden</key>
	<string>io.endlessfall.sweden</string>
	<key>norway</key>
	<string>io.endlessfall.norway</string>
	<key>denmark</key>
	<string>io.endlessfall.denmark</string>
	<key>estonia</key>
	<string>io.endlessfall.estonia</string>
	<key>italy</key>
	<string>io.endlessfall.italy</string>
	<key>greece</key>
	<string>io.endlessfall.greece</string>
	<key>turkey</key>
	<string>io.endlessfall.turkey</string>
	<key>somalia</key>
	<string>io.endlessfall.somalia</string>
	<key>kenya</key>
	<string>io.endlessfall.kenya</string>
	<key>tanzania</key>
	<string>io.endlessfall.tanzania</string>
	<key>thailand</key>
	<string>io.endlessfall.thailand</string>
	<key>vietnam</key>
	<string>io.endlessfall.vietnam</string>
	<key>malaysia</key>
	<string>io.endlessfall.malaysia</string>
	<key>chile</key>
	<string>io.endlessfall.chile</string>
	<key>argentina</key>
	<string>io.endlessfall.argentina</string>
	<key>peru</key>
	<string>io.endlessfall.peru</string>
	<key>yeat</key>
	<string>io.endlessfall.yeat</string>
	<key>onepiece</key>
	<string>io.endlessfall.onepiece</string>
	<key>allmight</key>
	<string>io.endlessfall.allmight</string>
	<key>diamond</key>
	<string>io.endlessfall.diamond</string>
	<key>gold</key>
	<string>io.endlessfall.gold</string>
	<key>pearl</key>
	<string>io.endlessfall.pearl</string>
	<key>obama</key>
	<string>io.endlessfall.obama</string>
	<key>djkhaled</key>
	<string>io.endlessfall.djkhaled</string>
	<key>New item</key>
	<string>io.endlessfall.joerogan</string>
	<key>mexico</key>
	<string>io.endlessfall.mexico</string>
	<key>disco</key>
	<string>io.endlessfall.disco</string>
	<key>poolball</key>
	<string>io.endlessfall.poolball</string>
	<key>tennis</key>
	<string>io.endlessfall.tennis</string>
	<key>morocco</key>
	<string>io.endlessfall.morocco</string>
	<key>palestine</key>
	<string>io.endlessfall.palestine</string>
	<key>egypt</key>
	<string>io.endlessfall.egypt</string>
	<key>portugal</key>
	<string>io.endlessfall.portugal</string>
	<key>spain</key>
	<string>io.endlessfall.spain</string>
	<key>saudiarabia</key>
	<string>io.endlessfall.saudiarabia</string>
	<key>uae</key>
	<string>io.endlessfall.uae</string>
	<key>qatar</key>
	<string>io.endlessfall.qatar</string>
	<key>ethiopia</key>
	<string>io.endlessfall.ethiopia</string>
	<key>nigeria</key>
	<string>io.endlessfall.nigeria</string>
	<key>southafrica</key>
	<string>io.endlessfall.southafrica</string>
	<key>pakistan</key>
	<string>io.endlessfall.pakistan</string>
	<key>bangladesh</key>
	<string>io.endlessfall.bangladesh</string>
	<key>indonesia</key>
	<string>io.endlessfall.indonesia</string>
	<key>shocked</key>
	<string>io.endlessfall.shocked</string>
	<key>bomb</key>
	<string>io.endlessfall.bomb</string>
	<key>laugh</key>
	<string>io.endlessfall.laugh</string>
	<key>southkorea</key>
	<string>io.endlessfall.southkorea</string>
	<key>colombia</key>
	<string>io.endlessfall.colombia</string>
	<key>paraguay</key>
	<string>io.endlessfall.paraguay</string>
	<key>brazil</key>
	<string>io.endlessfall.brazil</string>
	<key>canada</key>
	<string>io.endlessfall.canada</string>
	<key>france</key>
	<string>io.endlessfall.france</string>
	<key>germany</key>
	<string>io.endlessfall.germany</string>
	<key>uk</key>
	<string>io.endlessfall.uk</string>
	<key>japan</key>
	<string>io.endlessfall.japan</string>
	<key>black</key>
	<string>io.endlessfall.black</string>
	<key>orange</key>
	<string>io.endlessfall.orange</string>
	<key>blue</key>
	<string>io.endlessfall.blue</string>
	<key>red</key>
	<string>io.endlessfall.red</string>
	<key>green</key>
	<string>io.endlessfall.green</string>
	<key>purple</key>
	<string>io.endlessfall.purple</string>
	<key>pink</key>
	<string>io.endlessfall.pink</string>
	<key>yellow</key>
	<string>io.endlessfall.yellow</string>
	<key>china</key>
	<string>io.endlessfall.china</string>
	<key>america</key>
	<string>io.endlessfall.america</string>
	<key>india</key>
	<string>io.endlessfall.india</string>
	<key>albert</key>
	<string>io.endlessfall.albert</string>
	<key>monkey</key>
	<string>io.endlessfall.monkey</string>
	<key>icespice</key>
	<string>io.endlessfall.icespice</string>
	<key>kai</key>
	<string>io.endlessfall.kai</string>
	<key>rick</key>
	<string>io.endlessfall.rick</string>
	<key>morty</key>
	<string>io.endlessfall.morty</string>
</dict>
</plist>
